 /*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
	/*header start*/
	.menu ul li a {
		font-size: 18px;
	    padding: 5px 0px !important;
	    text-align: right;
}
		/*slider start*/
	.slider {
    padding-bottom: 80px;
}
	.ci {
    bottom: -60px;
}
	.ci [data-bs-target] {
    width: 13px;
    height: 13px;
}
	.s_content {
    margin-top: 10px;
}
	.s_content h1 {
    margin: 0;
    font-size: 25px;
    font-weight: 700;
}
	.s_content h3 {
    margin: 15px 0px 20px;
}
	.s_icon li i {
    margin-right: 15px;
    font-size: 35px;
}
}

 /*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
	/*header start*/
	.menu ul li a {
		font-size: 18px;
	    padding: 5px 0px !important;
	    text-align: right;
}
	/*slider start*/
	.slider {
    padding-bottom: 80px;
}
	.ci {
    bottom: -60px;
}
	.ci [data-bs-target] {
    width: 13px;
    height: 13px;
}
	.s_content {
    margin-top: 10px;
}
	.s_content h3 {
    margin: 15px 0px 20px;
}
	.s_icon li i {
    margin-right: 15px;
    font-size: 35px;
}
}
 /*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
	/*header start*/
	.menu ul li a {
	    padding: 5px 0px !important;
	    text-align: right;
}
	/*slider start*/
	.s_content {
    margin-top: 50px;
}
}

 /*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 

}
 /*Extra large devices (desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) { 
		
}
 /*Extra Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1400px) { 
			
		 }